*{
    margin: 0;
    padding: 0;
}
html,
body,
#app{
    min-width: 375px;
    background: url('../image/Childhood.jpg') no-repeat center center;
    background-attachment: fixed;
}

a{
    text-decoration: none;
}
