*{
    margin: 0;
    padding: 0;
}
html,
body,
#app{
    min-width: 375px;
    background: url('../image/home.jpg') no-repeat center center;
    background-attachment: fixed;
}

a{text-decoration: none;}

html::-webkit-scrollbar {width: 5px}
html::-webkit-scrollbar-thumb {background-color: #C1C1C1;border-radius: 2px;}
html::-webkit-scrollbar-track{background-color: #FFF;}